
    <link rel="stylesheet" href="../css/login-page.css" />
  
    <div class="div-container">
      <div class="first-container">
        <h1>Experience easily!</h1>
        <a style=" text-decoration:none;margin: 1em; font-size: 20px" href="/">X</a>
      </div>
      <div class="second-container">
        <form action="/auth/login" method="post">
          <label for="email"
            >Email <input name="email" type="email" placeholder="enter your email"required
          /></label>
          <label for="password"
            >Password <input name="password" type="password" placeholder="Enter password"required
          /></label>
          <input type="submit" class="submit-btn" value="Login" />
        </form>
      </div>
      <div class="third-container">
        <p><a class="login-btn" href="/">Close</a></p>
      </div>
    </div>